html, body {
<<<<<<< HEAD
    height: 100%;
    margin: 0;       /* remove espaçamento padrão */
}

body {
    background: url("imagens/catzito.jpg") no-repeat center center fixed;
    background-size: cover;   /* Faz a imagem preencher toda a tela */
    font-family: "JetBrains Mono", monospace;
    text-align: center;
    padding: 10px;
=======
    height: 100%;      /* Faz com que ocupem toda a tela */
    margin: 0;         /* Remove espaçamento padrão */
}

body {
    background-image: linear-gradient(to bottom, #031818, #040620);
    font-family: "JetBrains Mono", monospace;
    text-align: center;
    padding: 10px;
    margin: auto;
>>>>>>> 121971eca93fab80cee9fe85adb746724401fb13
}

.introducao {
    color: #ffff;
    font-size: 18px;
}

.conteudo {
    color: #ffff;
    text-align: justify;
    
}

.imagemCozinha {
    text-align: center;
}
